/*#63639B lila
#FF9B21 naranja*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans');
* {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}
.nav {
    width: 100%;
    float: left;
    list-style: none;
}
.nav a {
    display: block;
    color: #FF9B21;
    text-align: center;
    padding: 1em;
    text-decoration: none;
    background-color: #36396c;
}
.nav a:hover {
    background-color: #63639b;
}
.nav {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #36396c;
}
p {
    text-align: justify;
}
html,
body {
    background-image: url('../img/background.jpg');
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
}
.content {
    flex: 1;
}
.logo {
    width: 6.250em;
    height: auto;
}
.signature {
    width: 18.750em;
    height: auto;
    float: right;
}
.footer .avisos {
    display: flex;
    justify-content: space-around;
    background-color: #a9a9d6;
}
.footer .sidebyside {
    width: 33%;
    margin: 0.25em;
}
.copyright {
    display: flex;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    justify-content: space-around;
    background-color: #36396c;
    text-align: center;
    color: white;
}
.sidebyside h3,
.sidebyside p {
    text-align: center;
}
.sidebyside a,
.sidebyside p {
    font-size: 0.9em;
}