.container {
    width: 50% auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 2% auto;
    padding: 2% 5% 5% 5%;

}
.card {
    display: flex;
    margin-bottom: 1em;
}
.card .column {
    color: white;
    background-color: #36396c;
    margin-right: 0;
    padding: 1em 2em 1em 2em;
}
.card .info {
    border-left: 0.375em solid #ccc;
    border-color: #FF9B21;
    color: #000;
    background-color: #a9a9d6;
    width: 80%;
    padding: 1em 2em 1em 2em;

}
.form {
    margin-left: 0.25em;
}
