
section article{
  font-size: 0.6em;
}

.proces{
  margin-top: 7%;
  margin-bottom: 5%;
}
.arriba{
  display: flex;
}
.arriba section{
  margin:1%;
}
.abajo{
  display: flex;
}
.abajo section{
    margin:1%;
}

.itv, .proces {
  margin: 5%;
}
