section article {
    font-size: 0.6em;
}
.confirmacio,
.confirmacio-error {
    width: 50% auto;
    border-style: solid;
    border: 0.063em solid #A4A4A4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 2%;
    padding: 2% 5% 5% 5%;
}
.confirmacio-error {
    margin: 5%;
}
.buto_cita {
    text-align: center;
}
.buto {
    display: flex;
    justify-content: space-around;
}
input[type=submit] {
    background-color: #FF9B21;
    border: 0.125em solid #FF9B21;
    ;
    border-radius: 0.5em;
    color: white;
    padding: 0.938em 2em;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: #63639B;
    color: white;
    box-shadow: 0 0.750em 1em 0 rgba(0, 0, 0, 0.24), 0 1.063em 3.125em 0 rgba(0, 0, 0, 0.19);
}
.titol {
    font-weight: 800;
}
.dades {
    width: auto;
    margin: 0 auto;
    width: 45%;
}
.dada {
    font-size: 1.5em;
    border-bottom: 0.125em solid #9392cd;
    padding: 0.313em 1.875em 0.313em 1.875em;
    text-decoration: none;
    color: #555555;
}
p {
    text-align: center;
}
h1 {
    text-align: center;
}
.error {
    text-align: center;
    padding: 1.250em;
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 0.313em;
    font-family: Arial;
    color: #ffffff;
    font-size: 2em;
    background: red;
    text-decoration: none;
}