.contingut {
    border-style: solid;
    border: 0.063em solid #A4A4A4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 2%;
    padding: 2% 5% 5% 5%;
}
.matricula {
    align-self: center;
    font-size: 1.5em;
    font-weight: 800;
    height: 5rem;
}
.entraMatricula {
    align-self: center;
    height: 8rem;
}
.boto {
    margin-left: 28%;
}
input[type=text] {
    text-align: center;
    width: 20rem;
    height: 5rem;
}
input[type=submit] {
    background-color: #FF9B21;
    border: 0.125em solid #FF9B21;
    ;
    border-radius: 0.5em;
    color: white;
    padding: 0.938em 2em;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: #63639B;
    color: white;
    box-shadow: 0 0.750em 1em 0 rgba(0, 0, 0, 0.24), 0 1.063em 3.125em 0 rgba(0, 0, 0, 0.19);
}