.container {
    width: 50% auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 2%;
    padding: 2% 5% 5% 5%;
}
.container h2 {
    margin: 0;
    padding: 0;
}
.container h3 {
    margin: 0;
    padding: 0;
}
.container ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.container li:last-child {
    border: none;
}
.container li a {
    text-decoration: none;
    color: #FF9B21;
    display: block;
    width: 17%;
    -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
    -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
    -o-transition: font-size 0.3s ease, background-color 0.3s ease;
    -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
    transition: font-size 0.3s ease, background-color 0.3s ease;
}
.container li a:hover {
    font-size: 1.875em;
    background-color: #63639b;
}