.seccio-contingut {
    height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}
.seccio-columnas {
    width: auto;
}
.flex-item {
    padding: 3.5% 0 3.5% 0;
    height: auto;
    margin: 1em;
    line-height: 0.333em;
    color: #FF9B21;
    font-weight: bold;
    font-size: 2em;
    text-align: left;
}
.flex-item label {
    font-size: 1.5rem;
}
/* Switch */
.switch {
    position: relative;
    display: inline-block;
    width: 1.7em;
    height: 0.7em;
}
/* Ocultar por defecto el checkbox */
.switch input {
    display: none;
}
/* El slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 0.433em;
    width: 0.433em;
    left: 0.067em;
    bottom: 0em;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border: 0.125em solid #FF9B21;
}
input:checked + .slider {
    background-color: #63639B;
}
input:focus + .slider {
    box-shadow: 0 0 0.017em #63639B;
}
input:checked + .slider:before {
    -webkit-transform: translateX(1.1em);
    -ms-transform: translateX(1.1em);
    transform: translateX(1.1em);
}
/* Slider redondeado */
.slider.round {
    border-radius: 0.567em;
}
.slider.round:before {
    border-radius: 50%;
}
input[type=submit] {
    background-color: #FF9B21;
    border: 0.125em solid #FF9B21;
    ;
    border-radius: 0.5em;
    color: white;
    padding: 0.1em 0.5em;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: #63639B;
    color: white;
    box-shadow: 0 0.750em 1em 0 rgba(0, 0, 0, 0.24), 0 1.063em 3.125em 0 rgba(0, 0, 0, 0.19);
}