.content {
    margin: 2%;
}
.matricula {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dades {
    margin-top: 3%;
}
input[type=text],
input[type=email] {
    width: 65%;
    float: left;
    margin-top: 1%;
}
label {
    float: left;
    clear: left;
    width: 12.5em;
    margin-top: 1.5%;
    margin-left: 6%;
}
input[type=submit] {
    background-color: #FF9B21;
    border: 0.125em solid #FF9B21;
    border-radius: 0.5em;
    color: white;
    padding: 0.938em 2em;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: #63639B;
    color: white;
    box-shadow: 0 0.750em 1em 0 rgba(0, 0, 0, 0.24), 0 1.063em 3.125em 0 rgba(0, 0, 0, 0.19);
}
.boto {
    clear: both;
    margin-top: 20%;
    margin-bottom: 5%;
    margin-left: 6%;
}