.seccio-contingut {
    display: flex;
    width: 100%;
}
.seccio-esquerra {
    flex: 1;
    padding: 1%;
}
.seccio-dreta {
    flex: 1;
    padding: 1%;
}
.informacio,
.escull-data,
.escull-hores {
    font-size: 1.2rem;
}
.informacio {
    width: 50%;
    border: 0.125em solid #FF9B21;
    padding: 1%;
    margin-top: 2%;
}
.informacio,
.escull-data span {
    vertical-align: left;
    /* 	margin-top: 2%; */
}
.escull-data {
    width: 100%;
}
.data-escollida {
    font-size: 1.4rem;
}
.data-escollida::-webkit-outer-spin-button,
.data-escollida::-webkit-inner-spin-button,
.data-escollida::-webkit-clear-button {
    -webkit-appearance: none;
    margin: 0;
}
.data-escollida::-webkit-calendar-picker-indicator {
    width: 1.250em;
    height: 1.250em;
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    background: url(../img/icona-calendari.png) no-repeat;
    margin-top: 0.7em;
}
.data-escollida:invalid + .data-escollida-validador:after {
    content: '\2715';
    padding-left: 0.313em;
    color: red;
}
.data-escollida:valid + .data-escollida-validador:after {
    content: '\2713';
    padding-left: 0.313em;
    color: green;
}
.escull-hores {
    margin-top: 2%;
    margin-bottom: 2%;
}
.escull-hores-taula {
    width: 60%;
    text-align: center;
    border-collapse: collapse;
}
.escull-hores-taula thead {
    background: #DE871D;
    background: -moz-linear-gradient(top, #e6a555 0%, #e19333 66%, #DE871D 100%);
    background: -webkit-linear-gradient(top, #e6a555 0%, #e19333 66%, #DE871D 100%);
    background: linear-gradient(to bottom, #e6a555 0%, #e19333 66%, #DE871D 100%);
}
.escull-hores-taula thead th {
    font-size: 1.5rem;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
}
.escull-hores-taula thead th:first-child {
    border: 0.313em solid #DE871D;
    border-bottom: none;
}
.escull-hores-taula td,
table.escull-hores-taula th {
    border: 0.313em solid #FF9B21;
    padding: 1%;
}
.escull-hores-taula tbody tr {
    background: #FFFFFF;
}
.escull-hores-taula input[type=submit] {
    font-size: 1.2rem;
    color: black;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
}
.escull-hores-taula-ocupat {
    background: #A9A9A9;
    pointer-events: none;
}