header h1 {
    text-align: center;
}
.contingut article {
    font-size: 1.5em;
    text-align: justify;
}
.contingut {
    display: flex;
    justify-content: space-around;
}
.on-estem,
.qui-som {
    width: 50%;
    height: auto;
}
.contingut section {
    margin: 1%;
}
.on-estem-img {
    display: block;
    width: 75%;
    height: auto;
    margin: auto;
}